 



 #timeOut{
     color:white;
 }
 #imgMovie 
 {
     margin-left: 10px;
     margin-top: 50px;
 }
 .output{
    margin-top: 10px;
    margin-left: 250px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
     color:white; 
    /* animation-name: topic;
  animation-duration:10s;
   animation: topic 10s infinite; */
}
 #timeOut{
    margin-top: 10px;
    /* margin-left: 50px; */
 }
 button{
    /* display: inline-block; */
    /* margin-left: 20px; */
    /* float: left; */
    width: 200px;
 }
 .choice{
    margin-top: 10px;
     /* width: 500px; */
     height: 50px;
     display: flex;
     /* flex-direction: row; */
      flex-grow: 1; 
     text-align: center;
     font-style:italic;
     /* background-color: black; */
 }
 .q{
    margin-left: 120px;
    /* width: 500px; */
    height: 50px;
    display: flex;
    /* flex-direction: row; */
     flex-grow: 1; 
    text-align: center;
    font-style:italic;
    
 }
 #wrapper{
     width: 650px;
    
     margin: 0 auto;
 }

 #choice1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

#choice1:hover {
    background-color: #4CAF50;
    color: white;
}

#choice2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#choice2:hover {
    background-color: #008CBA;
    color: white;
}


#choice3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

#choice3:hover {
    background-color: #f44336;
    color: white;
}

#choice4 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#choice4:hover {
    background-color: #555555;
    color: white;
}

#url{
    background-color: #f48236;
    color: white;
}
#choice4:hover {
    background-color: #f7e897;
    color: white;
}
#question{
    text-align: center;

height: 50px;
padding: 20px;
border: 2px solid;

  display: block;
  width: 100%;
  padding: 0;
  font-size: 20px;
 
  font-family: sans-serif;
}

@-webkit-keyframes topic {
    from {color: rgb(252, 245, 251);}
    to {color: rgb(238, 10, 207);}
}
#container {
    position: relative;
 }




/* #box{
   
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    
    position:absolute;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    
    -webkit-animation-iteration-count: infinite; 
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
	background-repeat: repeat-x;
}

/* Safari 4.0 - 8.0 */

/* Standard syntax */
 /* @keyframes example {
    0%   { left:80px; top:0px;} 
    25%  {left:80px; top:300px;} 
     50%  {left:80px; top:700px;}
    75%  {left:80px; top:500px;}
    100% {left:80px; top:0px;}
} */ 






body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(247, 247, 247), rgb(175, 168, 157), rgb(75, 67, 57), rgb(0, 0, 0));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
